@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation bar styles */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #2c3e50; /* Azul escuro */
    padding: 1rem 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0; /* Ensure no margins */
}

/* Links dentro do nav */
nav a {
    color: #ffffff; /* Branco para contraste */
    text-decoration: none;
    padding: 0 1rem;
}

nav a:hover {
    color: #f39c12; /* Cor de destaque ao passar o mouse */
}

.apresent h1 {
    font-family: 'Winky Sans', sans-serif;
    font-weight: 700; /* Negrito */
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem; /* Margem superior */
    text-transform: uppercase;
}

.apresent p{
    font-family: 'Winky Sans', sans-serif;
    font-weight: 300; /* Normal */
    font-size: 1.2rem;
    line-height: 1.5;
    color: #000000; /* Azul claro */
    text-align: center;
}

.textos{
    font-family: 'Winky Sans', sans-serif;
    font-weight: 400; /* Normal */
    font-size: 1.2rem;
    line-height: 1.5;
    color: #000000; /* Azul claro */
    margin: 2rem 0; /* Margem superior e inferior */
    padding: 0 1rem; /* Padding lateral */
}
.textos h2 {
    font-family: 'Winky Sans', sans-serif;
    font-weight: 700; /* Negrito */
    font-size: 2rem;
    text-transform: uppercase; /* Letras maiúsculas */
    margin-top: 2.1rem;
}
.textos p{
    text-align: justify;
    text-orientation: sideways-right;

}